@use 'settings' as *;
@use 'extend' as *;
@use 'Page/Index';

body {
	background: $darkBlack;
  padding: 2%;
	font-family: Blockletter;


}


.bodyContainerItem {
  margin-bottom: 5%;
  background: $darkBlack;
  color: $lightWhite;
  overflow: hidden;
  @extend %shadowed !optional;
}


@media (min-width: 1200px) {
  .bodyContainerItem {
    height: 93vh;
  }
}

@media (min-width: 500px) and (max-width: 990px) {
  .bodyContainerItem {
    height: 80vh;
  }
}


@media (max-width: 500px) {
  .bodyContainerItem {
    height: 95vh;
  }
  #PersonDetail {
    height: 180vh;
  }
}
