@use '../settings' as *;
@use '../extend' as *;

#ProjectsCon {

  .projectConItem {
    height: 100%;

  }

  .projectLeft {
    #projectImgView {
      height: 50%;
      background-size: cover !important;
    }

    #projectImgSelection {
      height: 50%;
      padding-top: 2%;
      .projectSelect {
        height: 50%;
         transition: all 0.5s ease;
        .projectContainImg {
          height: 100%;
          background-size: 80% 80% !important;
          background-position: center !important;
         
        }
        &:hover {
          background: $darkWhite;
          cursor: pointer;
          @extend %shadowed;
          .projectContainImg {
            background-size: 90% 90% !important;
          }
        }
      }
    }
  }

  .projectRight {
    #projectDetailContain {
      margin-top: 5%;
      position: relative;
      z-index: 10;
      .projectActualDetail {
        background: $darkBlack;
        border-left: 5px solid $darkWhite;
        padding: 3% 0;
        @extend %shadowed;
        .projectName {
          font-size: 40px;

        }
        .projectFramework {
          background: $darkWhite;
          color: $darkBlack;
          font-size: 20px;
        }
        .projLink {
          transition: all 0.3s ease;
          text-decoration: none !important;
          font-size: 20px;
          .projectLink {
            padding: 0 3px;
            color: $darkWhite !important;
          }
          &:hover {
            background: $darkWhite;
            .projectLink {
              color: $darkBlack !important;

            }
          }
        }
        ul {
          list-style: none;

          li {
            padding: 1% 0;
            display: flex;
            align-items: center;
            font-size: 17px;
          }
        }
      }
    }

    .ironMan {
      background: url(/images/backgrounds/ironman/newIronman.png) no-repeat;
      background-size: 100% 100% !important;
      height: 60%;
      position: relative; 
      z-index: 5;
    } 
  }

}


@media (min-width: 500px) and (max-width: 990px) {
  #ProjectsCon {
    .projectConItem {
      height: 50%;

      #projectImgView {
        height: 79%;
      }
    }
  }
}

@media (max-width: 500px) {
  #ProjectsCon {
    padding: 0;
    .projectConItem {
      height: 40%;
      padding: 0;
      #projectImgView {
        height: 60%;
      }
      #projectImgSelection {
        height: 50%;
      }
    }
    #projectRight {
      margin-top: 6%;
    }
  }
}