@use '../settings' as *;


#TitleCard {

  border: 1px none;
  padding: 0;
  color: $lightWhite;
  background: $darkBlack;

  #titleCardBG {
    background: url(/images/backgrounds/houston/baseBG.jpg) no-repeat;
    background-position: center !important;
    background-size: 100% 100% !important;

  }

  #titleCardContent {
    padding: 0;
    .titleCardLogo {
      
      font-size: 12em;
      margin: 0 !important;
    }
    .titleCardName {
      float: right;
      
      text-align: right;
      .titleName {
        font-size: 3em;
      }
      .titlePosition {
        font-size: 2em;
      }
    }
  }
}





@media (max-width: 990px) {
  #TitleCard {
    #titleCardBG {
      height: 70%;
    }
    .titleCardLogo {
      font-size: 8em !important;
    }
  }
}

@media (max-width: 500px) {
  #TitleCard {
    #titleCardBG {
      height: 70%;
    }

    .titleCardLogo {
      font-size: 4em !important;
    }
    .titleCardName {
      font-size: 10px !important;
    }
  }
}
@media (min-width: 1200px) {
  #TitleCard {
    #titleCardBG {
      height: 80%;
    }
  }
}
